<div class="card">
    <div class="card-body">
        <h2>{{Noticia.titulo}}</h2>
        <hr>
        <small>Autor: {{Noticia.autor}} </small><br>
        <small>Data de Publicação: {{#formatDate Noticia.data}}{{/formatDate}}</small><br>
        <hr>
        <img src="/images/{{Noticia.imagem}}" alt="imagem" class="rounded float-left" class="img-fluid" width="100%;" height="40%;">
        <p>{{Noticia.conteudo}}</p>
    </div>
</div>