<div class="card">
    <div class="card-body">
        <h2>{{Noticia.titulo}}</h2>
        <hr>
        <small>Autor: {{Noticia.autor}} </small><br>
        <small>Data de Publicação: {{#formatDate Noticia.data}}{{/formatDate}}</small><br>
        <hr>
        <p>{{Noticia.conteudo}}</p>
    </div>
</div>